header {
  height: 90px;
  background-color: black;
}

#header_top {
  @include clearfix;
  width: 100%;
  height: 45px;
  padding-top: 11px;
  #header_top_floated {
    float: right;
    display: flex;
    align-items: center;
  }
  & span {
    font-size: 14px;
    color: #949493;
    padding-right: 24px;
  }
  & i {
    color: #1E9DFF;
    font-size: 14px;
    padding-right: 11px;
  }
}


#header_bottom {
  width: 100%;
  height: 45px;
  & img {
    height: 25px;
  }
}
